<main class="contenedor">
    <form action="/crear-cuenta" method="POST" class="default-form">
        <div class="campo">
            <label>Nombre</label>
            <input type="text" name="nombre" placeholder="Tu Nombre">
        </div>
        <div class="campo">
            <label>Email</label>
            <input type="email" name="email" placeholder="Tu Correo Electronico">
        </div>

        <div class="campo descripcion">
            <label>Descripción</label>
            <div class="trix-container">
                <input type="hidden" id="x" name="descripcion">
                <trix-editor input="x"></trix-editor>
            </div>
        </div>

        <div class="campo">
            <label>Contraseña</label>
            <input type="password" name="password" placeholder="Tu Contraseña">
        </div>
        <div class="campo">
            <label>Repetir Contraseña</label>
            <input type="password" name="confirmar" placeholder="Repite tu Contraseña">
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a Iniciar Sesión</a>
        </div>
        <div class="campo">
            <input type="submit" value="Crear Cuenta" class="btn btn-azul">
        </div>
    </form>
</main>